extends ../layout/navbar
include ./carousel
block about
  doctype html
  html(lang='en')
    head
      meta(charset='utf-8')
      meta(name='viewport', content='width=device-width, initial-scale=1.0')
      link(href='/css/bootstrap.css', rel='stylesheet')
      link(href='/css/bootstrap-responsive.css', rel='stylesheet')
      link(rel='apple-touch-icon-precomposed', sizes='144x144', href='/ico/apple-touch-icon-144-precomposed.png')
      link(rel='apple-touch-icon-precomposed', sizes='114x114', href='/ico/apple-touch-icon-114-precomposed.png')
      link(rel='apple-touch-icon-precomposed', sizes='72x72', href='/ico/apple-touch-icon-72-precomposed.png')
      link(rel='apple-touch-icon-precomposed', href='/ico/apple-touch-icon-57-precomposed.png')
      link(rel='shortcut icon', href='/ico/favicon.png')
    body
      .container  
        .hero-unit
          img(src='img/slide3.jpg')
        .row
          .span4
            h2 PUG
            p
              | Best dog in the world. (I mean markup language)
            a.btn(href='/') Go Back to Home
        hr
        footer
          p © Mar 2019
    include ../partials/scripts
